[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kedro = "*"
kedro-viz = "*"
kedro-telemetry = "*"
pytest = "*"
pytest-cov = "*"

[dev-packages]
black = "*"
flake8 = "*"
ipython = "*"
isort = "*"
nbstripout = "*"
pytest-mock = "*"
tox = "*"

[requires]
python_version = "3.8"
